:root {
  --color-light: #e3dcd4;
  --color-medium: #c8aba4;
  --color-dark: #524131;
  --color-darker: #18130e;
  --color-white: #fff;
  --width-container: 960px;
  --spacing: 1rem;
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Roboto", sans-serif;
  --border-large-width: 3px;
  --border: 1px solid var(--color-dark);
  --border-large: var(--border-large-width) solid var(--color-dark);
  --transition-time: 0.3s;
}

/* playfair-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/playfair-display-v30-latin-regular.woff2")
    format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: var(--spacing);
  line-height: 2;
  font-family: var(--font-secondary);
  color: var(--color-dark);
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-primary);
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

a,
button,
input {
  transition: var(--transition-time);
}

h2 {
  background-color: var(--color-medium);
  margin-block: calc(var(--border-large-width) * -1) 1rem;
  padding-left: 0.75rem;
  border: var(--border-large);
  color: var(--color-darker);
}

mark {
  padding: var(--spacing);
  display: inline-block;
}

hr {
  margin-block: 2rem !important;
  display: block;
}

.container {
  max-width: var(--width-container);
  margin-right: auto;
  margin-left: auto;
}

.header,
.footer {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.header__inner,
.footer__inner {
  display: flex;
  gap: var(--spacing);
}

.header__logo {
  max-width: 150px;
}

.footer__logo {
  max-width: 100px;
}

.header__nav,
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.main ul {
  margin-left: var(--spacing);
  padding-left: var(--spacing);
}

.slice__inner {
  padding: calc(var(--spacing) * 2);
  padding-block-start: 0;
  border-top: var(--border-large);
  border-color: var(--color-dark);
}
.slice__inner:not(:has(> h2)) {
  padding-block-start: calc(var(--spacing) * 2);
}
.slice:nth-child(odd) .slice__inner {
  border-left: var(--border-large);
}
.slice:nth-child(even) .slice__inner {
  border-right: var(--border-large);
}

.slice__inner > * + *,
.slice__content > * + * {
  margin-top: 0.5rem;
}

.slice__inner > h3 ~ h3,
.slice__content > h3 ~ h3 {
  margin-top: 2rem;
  border-top: var(--border);
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .slice--with-media .slice__inner {
    display: flex;
  }
  .slice--with-media .slice__content {
    width: 50%;
    padding-right: calc(var(--spacing) * 2);
  }

  .slice--with-media .slice__media {
    width: 50%;
    text-align: center;
  }
}

.buy-now-button,
.dialog__close button {
  background-color: var(--color-dark);
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--color-white);
  padding: 0.5rem 2rem;
  border: var(--border);
  font-weight: bold;
  font: inherit;
}
.buy-now-button:hover,
.buy-now-button:focus,
.dialog__close button:hover,
.dialog__close button:focus {
  background-color: yellow;
  color: var(--color-dark);
  text-decoration: none;
}

.slice--mailing-list form {
  background-color: var(--color-light);
}

/* Double .slice needed for specificity */
.slice.slice.slice--mailing-list input,
.slice.slice.slice--mailing-list label {
  border: var(--border);
}

.slice.slice.slice--mailing-list button {
  background-color: var(--color-dark);
}
.slice.slice.slice--mailing-list button:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.slice__inner img {
  width: 400px;
}

.dialog[open] {
  margin: auto;
  padding: var(--spacing);
  height: 90vh;
  width: 90vw;
  max-width: 500px;
  max-height: 500px;
}

.dialog[open] .dialog__close {
  display: flex;
  justify-content: flex-end;
}

.dialog__close button:focus {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.schedules,
.upcoming-workshops {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.workshop-card {
  border: var(--border);
  border-width: 2px;
}

.workshop-card h3 {
  background-color: var(--color-dark);
  padding: var(--spacing);
  border-bottom: var(--border);
  color: var(--color-white);
}

.workshop-card__content {
  padding: var(--spacing);
}
